streamlit
yfinance
pandas
numpy
plotly
google-generativeai
python-dotenv
scikit-learn
tensorflow
transformers
torch
feedparser
easyocr
opencv-python-headless
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
